
  <title>A Basic HTML5 Template</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">

  
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>




    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 
 
<link rel="stylesheet" href="/css/style.css?v=1.0">

<body>
 
    <header>
     
  <a href = "http://localhost:3000/Genshin"> <img src ="/banners/Genshin Impact.jpg">
     </a>   </header>


  
   {{{body}}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>


<aside>
    <p>Made by Kévin Yu</p>
    For Genshin players and my dear teacher
</aside>


</html>
