{{message}}

<h3> Welcome to my Genshin website </h3>

Experience an immersive single-player campaign. As a traveler from another world, you will embark on a journey to reunite with your long-lost sibling and unravel the mysteries of Teyvat, and yourself.
Fly across the open world, swim through crystal-clear waters, and climb towering mountains. Stray off the beaten path to discover all the hidden secrets of a world full of wonder and mystery.

<br>
<br>

<a href = "https://genshin.hoyoverse.com/en>"> The Game </a>

<br>

<header>
      <a href="/" ><img src="/banners/unnamed.jpg"></a>
   </header>

<br>

{{> legal}}

 